<!DOCTYPE html>
<html>
<head>
    <title>Financial Form</title>
</head>
<body>
    <h1>Financial Form</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div>
            {{ form.fin_Name.label }}<br>
            {{ form.fin_Name(size=32) }}<br>
            {% for error in form.fin_Name.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.document_type.label }}<br>
            {{ form.document_type() }}<br>
            {% for error in form.document_type.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.fin_Desc.label }}<br>
            {{ form.fin_Desc(cols=50, rows=5) }}<br>
            {% for error in form.fin_Desc.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.upload_Date.label }}<br>
            {{ form.upload_Date }}<br>
            {% for error in form.upload_Date.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.expiry_date.label }}<br>
            {{ form.expiry_date }}<br>
            {% for error in form.expiry_date.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.fin_Doc.label }}<br>
            {{ form.fin_Doc }}<br>
            {% for error in form.fin_Doc.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
